.button {
	background-color: rgb(27, 26, 32);
	border: none;
	color: #fff;
	cursor: pointer;
	filter: brightness(69%);
	font-family: inherit;
	font-size: 20px;
	margin-top: 0.5rem;
	padding: 0.7rem;
	text-transform: capitalize;
	transition: filter 200ms ease, background-color 200ms ease, color 200ms ease;
	width: 100%;
	user-select: none;
}