.card-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	gap: 0.6rem;
}
.card-container__title {
	color: #fff;
	font-size: 20px;
	margin: 1rem;
}
@media (max-width: 768px) {
	.background {
		width: calc(100vw - 1rem);
	}
}
