.navbar {
	align-items: center;
	background-color: #000;
	display: flex;
	justify-content: space-between;
	padding-block: 1rem;
}
.navbar__logo {
	aspect-ratio: 1/1;
	background-color: #000;
	cursor: pointer;
	display: flex;
	justify-content: flex-start;
	position: relative;
	width: 40px;
}
.navbar__logo svg {
	color: white;
	position: relative;
	rotate: -40deg;
	stroke-width: 1.8;
}
.navbar__logo:hover svg {
	animation: githubAnimation 300ms linear;
}
@keyframes githubAnimation {
	from {
		rotate: -40deg;
	}
	50% {
		rotate: -50deg;
	}
	to {
		rotate: -40deg;
	}
}
.about-me {
	display: flex;
	gap: 1.2rem;
	width: 50%;
}
@media (max-width: 940px) {
	.about-me {
		width: 35%;
	}
	.navbar {
		padding-block: 0.5rem;
	}
}
.about-me__img {
	border-radius: 50%;
	height: 100px;
	object-fit: cover;
	width: 100px;
}
.container {
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.about-me__link {
	background: linear-gradient(90deg, #00dbde 0%, #fc00ff 100%);
	background-clip: text;
	-webkit-background-clip: text;
	background-size: 100% 100%;
	color: transparent;
	transition: background-size 300ms ease-in-out;
	-moz-transition: background-size 300ms ease-in-out;
	-ms-transition: background-size 300ms ease-in-out;
	-o-transition: background-size 300ms ease-in-out;
	-webkit-transition: background-size 300ms ease-in-out;
}
.about-me__link:hover {
	background-size: 200% 200%;
}

@media (max-width: 768px) {
	.about-me__desc,
	.about-me__link,
	.about-me__img {
		display: none;
	}
}

.open-navbar {
	background-color: #000;
	border: none;
	color: #000;
	cursor: pointer;
	filter: brightness(60%);
	margin-right: 0.5rem;
	transition: filter 300ms linear;
}
.open-navbar:hover {
	filter: brightness(100%);
}
